*{
    font-family: "roboto", sans-serif;
    font-weight: 400;

}

body{
    margin: 100px;
}

.health-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2% 10%;
}

.health-intro div{
    display: flex;
    padding: 3%;
    line-height: 1.75;
}

.health-intro div p {
    width: 45%;
    font-weight: normal;
    margin: left 2%;
}

.health-intro h1{
    font-size:2.125rem;
    color:#00b39b;
    padding:2%;
    font-weight: 300;
}

.contries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 10%;
}

.contry{
    margin-top:2%;
}

.contry img{
border-top-left-radius: 2%;
border-top-left-radius:2%;
}

.contry div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 4%;
}

.contry div button{
    color:white;
    background-color: #3d83df;
    padding: 4%;
    border-radius: 5%;
    text-transform: uppercase;
    border:none;
    font-weight: bold;
}

.contry:hover{
    box-shadow: 0 4px 8px rgb(155,152,152), 0 6px 20px gray;
    cursor:pointer;
}

.client .patient{
    background-color: #00ccb1;
    border-radius: 10px;
    width: 300px;
    padding:10px;
}

.client .doctors{
    background-color: #3d83df;
    border-radius: 10px;
    width: 300px;
    padding:10px;
}

.client .clinic{
    background-color: #1b2734;
    border-radius: 10px;
    width: 300px;
    padding:10px;
}

.client {
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partenaire{
    margin-top: 60px;
    display:flex;
    justify-content: space-around;
    color: #00ccb1;
    padding: 4%;
    align-items: center;
}

.partenaire div {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 2;
    height: auto;
}

.partenaire p {
    flex:1;
}

.partenaire div img {
    margin: 2% 4%;
}

.biggest{
    min-width:unset initial;
    background-color: #E1F9F7;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "text   div   div"
        "blanc  div   div";
    padding:100px;
    text-align: center;
    align-items: center;
    div{grid-area: div;}    
    
}

.biggest h2{
    color:#00b39b
}

.biggest p{
    color:#747474
}

.forces{
    margin:20px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

.biggest>img{
    width:400px;
    align-self: auto;
}

footer p{
    text-align: center;
}

.testgrid{
    text-align: center;
}

.testgrid button{
    background-color: #3d83df;
    color: white;
    border-radius: 20px;
    height:40px;
}

header img{
    width: 268px;
}

header{
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
}

header a{
    color:#ababab;
    text-decoration: none;
}

header a.active{
    color:#00b39b;
    text-decoration: none;
}